---
import LineDivisorOne from './line_divisor_one.astro'

const { boyFather, boyMother, girlFather, girlMother, godfather, godmother } = Astro.props

interface Props {
    boyFather: string,
    boyMother: string,
    girlFather: string,
    girlMother: string,
    godfather: string,
    godmother: string
}
---


<article class="relative z-40 min-h-full w-full text-center py-10 md:py-20 grid place-content-center gap-4 md:gap-8">
    <div class="w-3/5 max-w-80 mb-4 mx-auto">
        <LineDivisorOne>
    </div>
    <h2 class="w-4/5 mx-auto text-xl text-balance md:text-3xl font-semibold mb-4">CON LA BENDICIÓN DE NUESTROS PADRES</h2>
    <div class="scroll-fade-in flex justify-center items-center gap-8 md:gap-20">
        <div class="grid place-content-center gap-3">
            <h3 class="text-sm md:text-base">NOVIA</h3>
            <div class="grid gap-1">
                <p class="text-base md:text-lg uppercase">{girlMother}</p>
                <p class="text-base md:text-lg uppercase">{girlFather}</p>
            </div>
        </div>
        <div class="grid place-content-center gap-3">
            <h3 class="text-sm md:text-base">NOVIO</h3>
            <div class="grid gap-1">
                <p class="text-base md:text-lg uppercase">{boyMother}</p>
                <p class="text-base md:text-lg uppercase">{boyFather}</p>
            </div>
        </div>
    </div>
    <h2 class="w-4/5 mx-auto text-xl text-balance md:text-3xl font-semibold my-4">ACOMPAÑADOS DE NUESTROS PADRINOS</h2>
    <div class="scroll-fade-in grid gap-1">
        <p class="text-base md:text-lg uppercase">{godmother}</p>
        <p class="text-base md:text-lg uppercase">{godfather}</p>
    </div>
    <div class="rotX w-3/5 max-w-80 mt-2 mx-auto">
        <LineDivisorOne>
    </div>
</article>

<style>
    article {
        color: var(--text);
    }    
</style>