---
const { src, boyFather, boyMother, girlFather, girlMother, godfather, godmother } = Astro.props

interface Props {
    src: string,
    boyFather: string,
    boyMother: string,
    girlFather: string,
    girlMother: string,
    godfather: string,
    godmother: string
}
---


<article class="relative z-40 min-h-full w-full text-center py-10 md:py-20 grid place-content-center gap-4 md:gap-8">
    <img class="w-full max-w-80 px-4 mx-auto fill-[var(--text)]"  src={src}>
    <h2 class="w-4/5 mx-auto text-xl text-balance md:text-3xl font-semibold mb-4">CON LA BENDICIÓN DE NUESTROS PADRES</h2>
    <div class="fade-scroll flex justify-center items-center gap-8 md:gap-20">
        <div class="grid place-content-center gap-3">
            <h3 class="text-sm md:text-base">NOVIA</h3>
            <div class="grid gap-1">
                <p class="text-base md:text-lg uppercase">{girlMother}</p>
                <p class="text-base md:text-lg uppercase">{girlFather}</p>
            </div>
        </div>
        <div class="grid place-content-center gap-3">
            <h3 class="text-sm md:text-base">NOVIO</h3>
            <div class="grid gap-1">
                <p class="text-base md:text-lg uppercase">{boyMother}</p>
                <p class="text-base md:text-lg uppercase">{boyFather}</p>
            </div>
        </div>
    </div>
    <h2 class="w-4/5 mx-auto text-xl text-balance md:text-3xl font-semibold my-4">ACOMPAÑADOS DE NUESTROS PADRINOS</h2>
    <div class="fade-scroll grid gap-1">
        <p class="text-base md:text-lg uppercase">{godmother}</p>
        <p class="text-base md:text-lg uppercase">{godfather}</p>
    </div>
    <img class="rotX w-full max-w-80 px-4 mx-auto fill-[var(--text)]" src={src}>
</article>

<style>
    article {
        color: var(--text);
    }
    svg {
        fill: var(--text);
    }
    
</style>